.intro{
    background-color: rgb(253, 245, 247);
}
.image1{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 10%;
}
.title{
    margin-top: 10%;
   
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 300%;
color: rgb(155, 114, 37);

}
.job{
color: rgb(10, 10, 17);
font-family: 'Times New Roman', Times, serif;
font-size: 200%;
text-align: justify;
margin-left: 5%;
margin-top: 0%;
}
.anc{text-decoration: none;
    color: blanchedalmond;
    background-color: rgb(33, 9, 138);}
.reachout{
    padding-top: 2%;
    padding-bottom: 2%;
padding-left: 7%;
padding-right: 7%;
background-color: rgb(66, 51, 23);
text-decoration: none;
color: blanchedalmond;
text-align: justify;
margin-top: 2%;
margin-left: 10%;
}


.about{

padding: 10%;
}
.aboutme{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(172, 97, 109);
  font-size: 300%;  
}
.det{
font-family: 'Times New Roman', Times, serif;
text-align: justify;
}
.aboutimg{
    padding: 10%;
}
.image2{margin-left: 10%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
   
}

.myexp{
    background-color: rgb(255, 252, 241);
    padding: 7%;
}

.myexptitle{
    color: rgb(160, 100, 130);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    
    
}


.current{
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.year{
    flex: 1;
}
.cos{
    flex: 2;
    margin-left: 10%;
}
.mainpoint{
    color: rgb(160, 100, 130);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    
}
.inst{   font-weight: bold;
 margin-bottom: 5%;
}
.content{
    text-align: justify;
}

.whaticando{
    padding: 10%;
}
.skilltitle{
    color: rgb(126, 72, 11);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    line-height: 1;
}
.tech{
    color: rgb(126, 72, 11); 
    font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 20%;
}
progress{
    accent-color: rgb(126, 72, 11);
    height: 15%;
    width: 50%;
}

.sample{
    background-color: rgb(255, 252, 241);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin-bottom: 2%;
   
        
}
.smplwk{
    margin-left: 35%;
    color: rgb(160, 100, 130);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}
.img3{
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin-bottom: 10%;
   
}
.sample1{
    padding: 5%;
}
.webtitle{
    text-align: center;
}

.comment1{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    padding: 5%;
}

.image3{
    border-radius: 50%;
   
}

.cmttext1{
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cmttext2{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15%;
    margin-top: 5%;
}

.commentor{
    color: rgb(126, 72, 11);    
}

.footer{
    
    background-color: rgb(83, 52, 10);
    padding: 10%;
}
.footerimg{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 10%;
   
}
.footer1{
    color: rgb(219, 206, 186);;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 10%;  
}

#Reach_Out{
    font-size:xx-large;
}
.social{
    display: flex;
    justify-content: space-around;
}
.fa-brands{
    color: rgb(219, 206, 186);
    width: 10%;
    font-size: 300%;   
}
